@import '../_theme.scss';
@import '../mixins/color-background';

.new-ui.new-appbar {
  max-width: 100%;
  padding: 14px;
  padding-right: 30px;
  box-shadow: $elevated-1;
  transition: 0.3s;

  display: flex;
  align-items: center;
  align-content: center;

  flex-flow: row wrap;
  position: relative;
  z-index: 2;

  * {
    display: inline-block;
  }

  &--fixed {
    position: fixed;
  }

  &--collaped {
    max-width: 20%;
    position: fixed;
    margin-left: 20px;
    border-radius: 0 0 $border-radius-base $border-radius-base;

    .new-ui.new-appbar__actions {
      display: none;
    }


  }
}

.new-ui.new-appbar__actions {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  order: 10;
}

.new-ui.new-appbar__title-content {
  margin: 0;
}

.new-ui.new-appbar--state {
  &-default {
    @include color-background($color-default);
  }

  &-brand {
    @include color-background($color-brand);
  }

  &-secondary {
    @include color-background($color-secondary);
  }

  &-error {
    @include color-background($color-state-error);
  }

  &-warn {
    @include color-background($color-state-warn);
  }

  &-success {
    @include color-background($color-state-success);
  }

  &-info {
    @include color-background($color-state-info);
  }
}
