@import '../_theme.scss';

.new-ui.new-card {
  background-color: $background-high-priority;
  border-radius: $border-radius-base;
  box-shadow: $elevated-1;
  overflow: hidden;
  transition: $transition-base;

  &.new-card--interactable {
    &:not(.new-card--stroked):hover {
      box-shadow: $elevated-2;
    }
  }
}

.new-ui.new-card.new-card--stroked {
  box-shadow: 0 0 0;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
}

.new-ui.new-card__image {
  position: relative;
  .new-ui.new-image {
    width: 100%;
  }
}

.new-ui.new-card__content {
  padding: $padding-base;

  * {
    margin: 0px;
  }
}

.new-ui.new-card__content-section {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;

  &:last-of-type {
    border-bottom-width: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.new-ui.new-card__header {
  min-height: 10px;
  padding: $padding-base;

  * {
    margin: 0px;
  }
}

.new-ui.new-card__actions {
  padding: 10px;
  padding-top: 0px;

  &.new-card__actions--pull-right {
    float: right;
  }
  &.new-card__actions--pull-left {
    float: left;
  }
}
