@import '../_theme.scss';

@mixin a-link($color) {
  &:link, &:visited {
    color: $color;
    text-decoration: none;
    border-bottom-color: transparent;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    cursor: pointer;
  }

  &:hover {
    color: darken($color, 10%);
    border-bottom-color: darken($color, 10%);
  }
}

.new-ui.new-link {
  font-family: 'Roboto', sans-serif;
  transition: $transition-base;

  // Set color
  &--default {
    @include a-link($color-default);
  }

  &--brand {
    @include a-link($color-brand);
  }

  &--secondary {
    @include a-link($color-secondary);
  }

  &--error {
    @include a-link($color-state-error);
  }

  &--warn {
    @include a-link($color-state-warn);
  }

  &--success {
    @include a-link($color-state-success);
  }

  &--info {
    @include a-link($color-state-info);
  }
}
