@import '../_theme.scss';

.new-ui.new-button-toolbar {
  .new-ui.new-button {
    margin: 0px !important;
    display: inline-block !important;
    border-radius: 0px !important;
  }

  &:not(.pill) {
    .new-ui.new-button {
      &:first-child {
        border-radius: $border-radius-base 0 0 $border-radius-base !important;
      }

      &:last-child {
        border-radius: 0 $border-radius-base $border-radius-base 0 !important;
      }
    }
  }

  &.pill {
    .new-ui.new-button {
      &:first-child {
        border-radius: $border-radius-rounded 0 0 $border-radius-rounded !important;
      }

      &:last-child {
        border-radius: 0 $border-radius-rounded $border-radius-rounded 0 !important;
      }
    }
  }
}
