@import '../_theme.scss';
@import '../mixins/buttons/button-color';

.new-ui.new-button {
  border-radius: $border-radius-base;
  padding: $padding-button;
  border-width: $border-width-base;
  border-style: solid;
  min-width: $button-min-width;
  transition: $transition-base;

  // Apply shape
  &--pill {
    border-radius: $border-radius-rounded;
  }

  &--tile {
    border-radius: $border-radius-tile;
  }

  // Set color
  &--default {
    @include button-color($color-default);
  }

  &--brand {
    @include button-color($color-brand);
  }

  &--secondary {
    @include button-color($color-secondary);
  }

  &--error {
    @include button-color($color-state-error);
  }

  &--warn {
    @include button-color($color-state-warn);
  }

  &--success {
    @include button-color($color-state-success);
  }

  &--info {
    @include button-color($color-state-info);
  }
}
