@import '../_theme.scss';

/* The container */
.new-ui.new-radio-button__container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.new-ui.new-radio-button__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.new-ui.new-radio-button__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparentize($cr-background-color, $cr-background);
  border-radius: 50%;
  transition: 0.3s;
  border-width: 1.5px;
  border-style: solid;
  border-color: #00000090;
}

/* On mouse-over, add a grey background color */
.new-ui.new-radio-button__container:hover input ~ .new-ui.new-radio-button__checkmark {
  background-color: transparentize($cr-background-color, $cr-background-hover);;
}

/* When the radio button is checked, add a blue background */
.new-ui.new-radio-button__container input:checked ~ .new-ui.new-radio-button__checkmark {
  background-color: #2196F3;
  border-color: #00000000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.new-ui.new-radio-button__checkmark:after {
  content: "";
  position: absolute;
  display: block;
  transform: scale(0);
}

/* Show the indicator (dot/circle) when checked */
.new-ui.new-radio-button__container input:checked ~ .new-ui.new-radio-button__checkmark:after {
  display: block;
  transform: scale(1);
}

/* Style the indicator (dot/circle) */
.new-ui.new-radio-button__container .new-ui.new-radio-button__checkmark:after {
 	top: 6.1px;
	left: 5.9px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: white;
    transition: 0.3s;
}
