$theme-package: (
  elements: (
    button: (
      transition-time: 0.1s
    )
  ),
  colors: (
    default: #D8D8D8,
    brand: #036ffc,
    accent: #00D6EC,
    secondary: #18B4C4,
    states: (
      error: #fc0303,
      success: #36C63A,
      warn: #D5C100,
      info: #0044D5
    ),
    background: (
      base: #E1E1E1,
      primary: #F0F0F0,
      full: #ffffff,
      accent: #A4DFE5,
      inverted: (
        base: #212427,
        primary: #1B1C1D,
        full: #0C0C0C,
        accent: #29646A
      )
    ),
    text: (
      base: #1A1C1C,
      primary: #111212,
      full: #000000,
      link: #18B4C4,
      inverted: (
        base: #E1E1E1,
        primary: #F0F0F0,
        full: #ffffff,
        link: #18B4C4
      )
    )
  ),
  layout: (
    borders: (
      radius: (
        tile: 0px,
        base: 4px,
        round: 50px,
        full: 50%
      ),
      color: (
        base: #4D4D4D,
        full: #000000
      ),
      thickness: (
        base: 1px,
        full: 3px
      )
    ),
    /* also known as Shadow */
    elevation: (
      color: #000000,
      base: (
        blur: 8px,
        distance: 3px
      ),
      elevated: (
        blur: 16px,
        distance: 6px
      )
    ),
    padding: (
      base: 10px,
      button: 10px 16px,
      button-expanded: 10px 30px,
      dense: 3px,
      spaced: 20px
    )
  )
)
