/* Global Settings */
$prefix: "ui"

/* Colours */
$color-default: #8C8C8C !default;
$color-brand: #009BFF !default;
$color-secondary: #18B4C4 !default;
$color-state-error: #fc0303 !default;
$color-state-success: #36C63A !default;
$color-state-warn: #D5C100 !default;
$color-state-info: #0044D5 !default;
$color-disabled: #EAEAEA !default;

$border-color: #000 !default;

/* Background */
$background-base: #e1e1e1 !default;
$background-mid-priority: #1b1c1d !default;
$background-high-priority: #ffffff !default;
$background-accent: #a4dfe5 !default;

/* Borders */
$border-radius-tile: 0px !default;
$border-radius-base: 4px !default;
$border-radius-very-round: 8px !default;
$border-radius-rounded: 100% !default;

$border-width-base: 1px;
$border-width-thick: 3px;

/* Elevation */
$elevated-1: 0px 2px 3px 1px #ccc !default;
$elevated-2: 0px 4px 6px 2px #ccc !default;
$elevated-3: 0px 6px 9px 3px #ccc !default;
$elevated-4: 0px 8px 12px 4px #ccc !default;

/* Padding */
$padding-base: 10px !default;
$padding-button: 10px 16px !default;
$padding-button-dense: 6px 10px !default;
$padding-dense: 4px !default;
$padding-spaced: 20px !default;

/* Typography */
$type-header: 1 !default;
$type-subheader: 0.54 !default;
$type-paragraph: 0.8 !default;

$type-font-size-header: 24px !default;
$type-font-size-subheader: 14px !default;
$type-font-size-paragraph: 16px !default;

$type-textbox: #000000 !default;

$type-code-background: #ccc;
$type-code-color: #dd0000;

$type-keycode-background: #111;
$type-keycode-color: #fff;

/* Transition Times */
$transition-base: 0.1s !default;
$transition-slower: 0.3s !default;

/* Breakpoints */
$breakpoint-xsmall: "max-width: 0px" !default;
$breakpoint-small: "max-width: 600px" !default;
$breakpoint-medium: "max-width: 960px" !default;
$breakpoint-large: "max-width: 1264px" !default;
$breakpoint-xlarge: "max-width: 1904px" !default;

/** ELEMENTS **/
// Button
$button-min-width: 88px !default;
$button-all-caps: true !default;
$button-change-color-amount: 8% !default;
$button-transparent-amount--hover: 0.9 !default;
$button-transparent-amount--active: 0.7 !default;

// Checkbox and Radio buttons
$cr-background-color: #ccc !default;
$cr-background: 0.8 !default;
$cr-background-hover: 0.3 !default;

// Grids
$grid-columns: 12 !default;
$grid-max-width: 65em !default;
