@import './defaultThemes/default';

@function theme($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

@function light($color) {
  @return lightness($color) > 50;
}

@mixin button-background($color) {
    background-color: $color;

    @if (light($color)) {
      color: #000000;
    } @else {
      color: #ffffff;
    }
}

@mixin themable($name, $package) {
     .new-ui {
       outline: none;
     }

     .new-ui.elevated:not(.new-button--appearance__outline):not(.new-button--appearance__text) {
       box-shadow: 0px theme($package, 'layout', 'elevation', 'base', 'blur') 0 theme($package, 'layout', 'elevation', 'color');
     }

     .new-ui.new-button {
       $button-color: #000000;

       border-radius: theme($package, 'layout', 'borders', 'radius', 'base');
       padding: theme($package, 'layout', 'padding', 'button');
       border-width: theme($package, 'layout', 'borders', 'thickness', 'base');

       // Apply shape
       &--pill {
         border-radius: theme($package, 'layout', 'borders', 'radius', 'rounded');
       }

       &--tile {
         border-radius: theme($package, 'layout', 'borders', 'radius', 'tile');
       }

       // Apply padding
       &--expanded {
         padding: theme($package, 'layout', 'padding', 'button-expanded');
       }

       // Set color
       &--default {
         $button-color: theme($package, 'colors', 'default');
       }

       &--brand {
         $button-color: theme($package, 'colors', 'brand');
       }

       &--accent {
         $button-color: theme($package, 'colors', 'accent');
       }

       &--error {
         $button-color: theme($package, 'colors', 'states', 'error');
       }

       &--warn {
         $button-color: theme($package, 'colors', 'states', 'warn');
       }

       &--success {
         $button-color: theme($package, 'colors', 'states', 'success');
       }

       &--info {
         $button-color: theme($package, 'colors', 'states', 'info');
       }

       // Apply color to button appearance
       &--text {
         color: $button-color;
       }
     }

     .new-ui.new-button.new-button--appearance__text {
       $button-color: theme($package, 'colors', 'default');
     }

     .new-ui.new-button.new-button--appearance__outline, .new-ui.new-button.new-button--appearance__text {
       background: transparentize(#000, 1);
     }

     .new-ui.new-button.new-button--state__default.new-button--appearance__text {
       $button-background: theme($package, 'colors', 'default');
       color: $button-background;
     }
     .new-ui.new-button.new-button--state__brand.new-button--appearance__text {
       $button-background: theme($package, 'colors', 'brand');
       color: $button-background;
     }
     .new-ui.new-button.new-button--state__error.new-button--appearance__text {
       $button-background: theme($package, 'colors', 'states', 'error');
       color: $button-background;
     }
     .new-ui.new-button.new-button--state__success.new-button--appearance__text {
       $button-background: theme($package, 'colors', 'states', 'success');
       color: $button-background;
     }
     .new-ui.new-button.new-button--state__warn.new-button--appearance__text {
       $button-background: theme($package, 'colors', 'states', 'warn');
       color: $button-background;
     }
     .new-ui.new-button.new-button--state__info.new-button--appearance__text {
       $button-background: theme($package, 'colors', 'states', 'info');
       color: $button-background;
     }

     .new-ui.new-button.new-button--state__default.new-button--appearance__outline {
       $button-background: theme($package, 'colors', 'default');
       color: $button-background;
       border-color: $button-background;
     }
     .new-ui.new-button.new-button--state__brand.new-button--appearance__outline {
       $button-background: theme($package, 'colors', 'brand');
       color: $button-background;
       border-color: $button-background;
     }
     .new-ui.new-button.new-button--state__error.new-button--appearance__outline {
       $button-background: theme($package, 'colors', 'states', 'error');
       color: $button-background;
       border-color: $button-background;
     }
     .new-ui.new-button.new-button--state__success.new-button--appearance__outline {
       $button-background: theme($package, 'colors', 'states', 'success');
       color: $button-background;
       border-color: $button-background;
     }
     .new-ui.new-button.new-button--state__warn.new-button--appearance__outline {
       $button-background: theme($package, 'colors', 'states', 'warn');
       color: $button-background;
       border-color: $button-background;
     }
     .new-ui.new-button.new-button--state__info.new-button--appearance__outline {
       $button-background: theme($package, 'colors', 'states', 'info');
       color: $button-background;
       border-color: $button-background;
     }

     .new-ui.new-button.new-button--state__default.new-button--appearance__default {
       $button-background: theme($package, 'colors', 'default');
       @include button-background($button-background);
     }
     .new-ui.new-button.new-button--state__brand.new-button--appearance__default {
       $button-background: theme($package, 'colors', 'brand');
       @include button-background($button-background);
     }
     .new-ui.new-button.new-button--state__error.new-button--appearance__default {
       $button-background: theme($package, 'colors', 'states', 'error');
       @include button-background($button-background);
     }
     .new-ui.new-button.new-button--state__success.new-button--appearance__default {
       $button-background: theme($package, 'colors', 'states', 'success');
       @include button-background($button-background);
     }
     .new-ui.new-button.new-button--state__warn.new-button--appearance__default {
       $button-background: theme($package, 'colors', 'states', 'warn');
       @include button-background($button-background);
     }
     .new-ui.new-button.new-button--state__info.new-button--appearance__default {
       $button-background: theme($package, 'colors', 'states', 'info');
       @include button-background($button-background);
     }
}

.new-ui.new-app.new-app--themeable.new-app--use_styles {}

@include themable(default, $theme-package);
