@mixin button-stroked($button-color) {
  color: $button-color;
  background-color: transparent;
  border-color: $button-color;

  &:hover {
    $transparent-amount: 0.8;
    background-color: transparentize($button-color, $transparent-amount--hover);
  }

  &:active {
    $transparent-amount: 0.6;
    background-color: transparentize($button-color, $transparent-amount--active);
  }
}
