@mixin button-text($button-color) {
  color: $button-color;
  background-color: transparent;
  border-color: transparent;

  &:hover {
    background-color: transparentize($button-color, $transparent-amount--hover);
    border-color: transparentize($button-color, $transparent-amount--hover);
  }

  &:active {
    background-color: transparentize($button-color, $transparent-amount--active);
    border-color: transparentize($button-color, $transparent-amount--active);
  }
}
