@import '../functions/light.scss';

@mixin color-background($color) {
  background-color: $color;

  @if (light($color)) {
    color: #000000 !important;
  } @else {
    color: #ffffff !important;
  }
}
