@import '../_theme.scss';

.ui.elevated-1 {
  box-shadow: $elevated-1;
}

.ui.elevated-2 {
  box-shadow: $elevated-2;
}

.ui.elevated-3 {
  box-shadow: $elevated-3;
}

.ui.elevated-4 {
  box-shadow: $elevated-4;
}
