@import '../_theme.scss';

.elevated-1 {
  box-shadow: $elevated-1;
}

.elevated-2 {
  box-shadow: $elevated-2;
}

.elevated-3 {
  box-shadow: $elevated-3;
}

.elevated-4 {
  box-shadow: $elevated-4;
}
